<div class="form-margin">
    <form #form="ngForm">
      <div class="form-group">
        <label>Full Name:</label>
        <input name="name" (ngModelChange)="onNameChange($event)" type="text" required minlength="3" [(ngModel)]="name" #custName="ngModel" class="form-control">
      </div>
      <div class="form-group">
        <label>Address:</label>
        <input name="address" type="text" required minlength="10" [(ngModel)]="address" #residence="ngModel" class="form-control">
      </div>
      <div class="form-group">
        <label>Credit Card Number:</label>
        <input name="creditCard" type="text" required minlength="16" maxlength="16" [(ngModel)]="creditCard" #card="ngModel" class="form-control">
      </div>
        <a routerLink="/confirmation/{{ name }}"><input type="submit" [disabled]="form.invalid" value="Submit" class="btn btn-primary"></a>
    </form>

    <div *ngIf="custName.invalid && custName.dirty">
        <div *ngIf="custName.errors?.['required']">
          Please provide your name.
        </div>
        <div *ngIf="custName.errors?.['minlength']">
          Your name must be at least 3 characters long.
        </div>
      </div>


      <div *ngIf="residence.invalid && residence.dirty">
        <div *ngIf="residence.errors?.['required']">
          Please provide your address.
        </div>
      </div>

      <div *ngIf="card.invalid && card.dirty">
        <div *ngIf="card.errors?.['required']">
          Please provide your credit card.
        </div>
        <div *ngIf="card.errors?.['minlength']">
          Your credit card must be at least 16 characters long.
        </div>
      </div>
</div>